:root{
    --width: 1200px;
    --primary: #6e0bd6;
    --secondary: #f78323;
    --text: rgb(74, 74, 74);
    --text-light: rgb(153, 153, 153);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

header{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgb(229, 229, 229);
}

section{
    width: var(--width);
}

/*Breadcrumb*/
.breadcrumb{
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
}

.breadcrumb a{
    font-size: 12px;
    text-decoration: none;
    color: var(--text);
}

.breadcrumb a:hover{
    color: var(--primary);
}

.breadcrumb span{
    font-size: 12px;
    font-weight: 600;
    width: 20px;
    text-align: center;
    color: var(--text);
    opacity: 0.5;
}

/*Product*/

.product{
    display: flex;
}

.product .info{
    display: flex;
    flex-direction: column;
    width: 850px;
}

.product .info .title{
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: var(--text);
}

/*Data da postagem*/
.product .info .date{
    font-size: 12px;
    color: var(--text-light);
    line-height: 16px;
    margin-top: 8px;
    font-weight: 200;
}

/*Images*/
.product .images{
    display: flex;
    width: 850px;
    flex-direction: row;
    height: 400px;
    margin-top: 16px;
}

.product .images #image{
    flex: 1;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product .images #image img#principal{
    height: 100%;
    width: 100%;
    object-fit: contain;
    z-index: 100;
}

.product .images #image img#fundo{
    position: absolute;
    height: 200%;
    width: 200%;
    filter: blur(20px);
}

/*Image Slider*/

.product .images .slider{
    display: flex;
    width: 64px;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.product .images .slider .item{
    width: 56px;
    height: 56px;
    border-radius: 4px;
    margin-bottom: 8px;
    object-fit: cover;
    opacity: 0.64;
    cursor: pointer;
}

.product .images .slider .item.selected{
    opacity: 1;
}

.product .info .price{
    font-weight: 400;
    color: var(--text);
    margin-top: 24px;
}

.product .info .description{
    margin-top: 32px;
    line-height: 24px;
    font-size: 16px;
    color: var(--text);
}

.product .info .description a{
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
}

.product .info .actions{
display: flex;
margin-top: 32px;
}

/*Buttons*/
.btn{
    color: var(--secondary);
    border: 1px solid var(--secondary);
    height: 40px;
    margin-right: 16px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0 16px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    justify-content: center;
}

.btn svg{
    margin-right: 8px;
}

.btn.solid,
.btn:hover{
    background-color: var(--secondary);
    color: white;
}

.btn.solid{
    transition: all 200ms ease;
}

.btn.solid:hover{
    background-color: #e37601;
}

.divider{
    width: 88px;
    height: 2px;
    background-color: rgb(229, 229, 229);
    margin-top: 64px;
}

/*Details*/

.product .details{
    margin-top: 32px;
}

.details .title{
    font-size: 20px;
    font-weight: 600;
    color: var(--text);
}

/*Grid é grade (criar colunas e linhas)*/
.product .details .grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 8px;
}

.product .details .grid .item{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 12px;
}

.product .details .grid .item .name{
    color: var(--text-light);
    font-size: 14px;
    line-height: 20px;
    font-weight: 200;
}

.product .details .grid .item .value{
    color: var(--text);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

/*---------------------------------*/

/*Seller*/

.product .seller{
    width: 290px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

.product .seller .price{
    display: flex;
}

.product .seller .price .price-container{
    display: flex;
    align-items: center;
    height: 64px;
    flex: 1;
    background-color: var(--primary);
    padding-left: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.product .seller .price .price-container .value{
    color: white;
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
}

/*Info*/

.product .seller .info{
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #f9f9f9;
    margin-top: 16px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;
    flex-direction: column;
    align-items: center;
    padding: 16px 20px;
}

.product .seller .info .name{
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    color: rgb(50, 50, 50s);
    line-height: 24px;
}

.product .seller .info .btn{
    width: 100%;
    margin: 0;
    margin-top: 15px;
}